<section class="">

<!-- <img src="assets/Img/Banner-img.jpg" class="w-full"> -->
 <div class="banner">
  <div class="flex justify-center banner_content flex-col h-full items-center">
    <h2 class="text-center text-xl text-white">Your steadfast collaborator in the ever-expanding realm of artificial intelligence</h2>
    <p class="text-center">A Cutting- edge AI technology Service provider. We partner with businesses to integrate
      cutting-edge AI technologies, fostering innovation and competitive advantage.</p>
      <button class=" w-max">Lets Talk</button>
  </div>
 </div>
<section class="about-sec">
  <div class="">
    <h3>Who are we</h3>
    <p>We are your trusted guides on the AI journey, a team of experts and enthusiasts
       who are passionate about helping businesses unlock their full potential. We believe that
       AI is not just a tool but a strategic partner, and we are committed to providing the
       expertise and support businesses need to thrive in the age of intelligent automation.
     </p>
  </div>
</section>
<section class="container px-20">
<div class="grid grid-cols-3 gap-5">
  <div class=" service-card rounded rounded-md p-4">
    <img src="../../../assets/Img/Logo-White New.svg" >
    <h3>GenAI consulting</h3>
    <p>Generative AI consulting collaborates with clients to pinpoint their specific
      goals and needs for a generative AI solution. Our specialist will thoroughly
      examine the client's data and offer tailored recommendations on the most effective
      generative AI methodologies, considering the data type, desired output, and other
      relevant factors. Additionally, our expert will provide guidance on the necessary
      hardware and software infrastructure for implementing the generative AI model, while also addressing
      potential risks and ethical
      implications associated with utilizing such a model.</p>
  </div>
  <div class=" service-card p-3">
    <img src="" alt="">
    <h3>GenAI Development</h3>
    <p>Generative AI consulting collaborates with clients to pinpoint their specific
      goals and needs for a generative AI solution. Our specialist will thoroughly
      examine the client's data and offer tailored recommendations on the most effective
      generative AI methodologies, considering the data type, desired output, and other
      relevant factors. Additionally, our expert will provide guidance on the necessary
      hardware and software infrastructure for implementing the generative AI model, while also addressing
      potential risks and ethical
      implications associated with utilizing such a model.</p>
  </div>
  <div class=" service-card">
    <h3>3-GenAI consulting</h3>
    <p>Generative AI consulting collaborates with clients to pinpoint their specific
      goals and needs for a generative AI solution. Our specialist will thoroughly
      examine the client's data and offer tailored recommendations on the most effective
      generative AI methodologies, considering the data type, desired output, and other
      relevant factors. Additionally, our expert will provide guidance on the necessary
      hardware and software infrastructure for implementing the generative AI model, while also addressing
      potential risks and ethical
      implications associated with utilizing such a model.</p>
  </div>
</div>
</section>
</section>
